:root {
  /* Light mode variables */
  --primary-color: #008080; /* Teal */
  --secondary-color: #ffb6c1; /* Baby Pink */
  --accent-color: #2bf9cc; /* Red */
  --background-color: #efffff; /* Light Gray */
  --text-color: #333333; /* Dark Gray */
}
