.title {
  font-family: 'Sign Rathi', cursive;
  font-weight: 400;
  font-size: 24rem;
  color: #ffffff;
  text-align: center;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;

  @media screen and (max-width: 768px) {
    font-size: 12rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('src/assets/bg.png'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed; /* Optional: creates a different parallax effect */

  @media screen and (max-width: 768px) {
    background-size: auto 100%;
    background-attachment: scroll;
    background-position: center center;
  }
}

.subhead {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 10px;
  font-size: 1rem;
  color: #666666;
  text-align: center;

  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
}

.shimmer {
  background: linear-gradient(
    90deg,
    rgb(210, 255, 252),
    lightgray,
    rgb(210, 255, 252)
  );
  background-size: 300% 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* animation: shimmer-animation 3s infinite; */
}

@keyframes shimmer-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
