/* Basic Reset & Body Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  overflow-x: hidden; /* Prevent horizontal scroll on body */
  font-family: 'Very Vogue Display Italic', sans-serif;
}

#main-container {
  overflow-x: hidden; /* Prevent horizontal scroll on main container */
}

/* Page Section Styles */
.page {
  width: 100vw;
  height: 100vh;
}

/* Teal Color Palette */
#page2 {
  background-color: #8dd8d4;
} /* LightSeaGreen */
#page3 {
  background-color: #90b8b7;
} /* MediumTurquoise */
#page4 {
  background-color: #d2fffa;
} /* Turquoise */
#page5 {
  background-color: #a6fcff;
} /* CadetBlue */
#page6 {
  background-color: #b7dfff;
} /* SteelBlue */
#page7 {
  background-color: #c5eaea;
} /* Dark Teal */

/* Horizontal Scrolling Section Styles */
#horizontal-section-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.horizontal-scroller {
  width: 400vw;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  will-change: transform;
}
