@import "./utils/colors.css";
@import "./utils/fonts.css";

/* debug */
/* * {
  outline: 1px solid red;
} */

* {
  /* invisible scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  /* not smooth scroll */
  scroll-behavior: calc(var(--motion) * 100ms) smooth;
}

.custom-cursor {
  position: fixed;
  width: 25px;
  height: 25px;
  background-color: var(--primary-color);
  opacity: 0.2;
  backdrop-filter: blur(5px);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease;
}

@media screen and (max-width: 768px) {
  .custom-cursor {
    display: none;
  }
}

.custom-cursor::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45px;
  height: 45px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.custom-cursor::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: halo-animation 1.5s infinite;
  opacity: 0;
}

@keyframes halo-animation {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-background);
  color: var(--color-text);
  cursor: none;
}

.landing-header h1 {
  font-family: var(--font-heading);
  font-size: 20rem;
  font-weight: 200;
  margin: 0;

  @media screen and (max-width: 768px) {
    font-size: 10rem;
  }
}

h2 {
  font-family: var(--font-subheading);
  font-size: 1rem;
  font-weight: 200;
  text-transform: uppercase;
  color: var(--primary-color);
  letter-spacing: 0.5rem;
  margin: 0;

  @media screen and (max-width: 768px) {
    font-size: 0.8rem;
    letter-spacing: 0.3rem;
  }
}

p {
  font-family: var(--font-text);
  font-size: 3rem;
  font-style: italic;
  font-weight: 200;
  line-height: 1;
  margin: 0;

  @media screen and (max-width: 768px) {
    font-size: 2rem;
  }
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page .centered {
  text-align: center;
  max-width: 80vw;
  padding: 0 1rem;
}

.resume-download-link {
  text-decoration: none;
  margin: 2rem 0;
  opacity: 0;
  cursor: none;

  animation: fadeIn 2s ease-in-out forwards;
}

.link {
  color: inherit;
  text-decoration: none;
  position: relative;
}

.underline {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.underline:hover::after {
  transform: translateX(0);
}

/* Add the following CSS to create an animated gradient text fill for elements with the class "shimmer" */
.shimmer {
  background: linear-gradient(
    90deg,
    var(--primary-color),
    lightgray,
    var(--primary-color)
  );
  background-size: 300% 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer-animation 3s infinite;
}

@keyframes shimmer-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Horizontal Scroll Elements */
/* TODO: Shift them to another component */
.horizontal-scroll-wrapper {
  display: flex;
  overflow-x: scroll; /* Enable horizontal scrolling */
  scroll-snap-type: x mandatory; /* Apply snapping behavior */
  position: relative;
  width: 100vw;
  height: 100vh;
}

.horizontal-scroll-content {
  display: flex;
  flex-direction: row;
  width: max-content; /* Ensure content width adapts to all items */
  height: 100vh;
}

.horizontal-scroll-content .item {
  flex: 0 0 auto; /* Prevent items from shrinking */
  width: 100vw; /* Each item takes full viewport width */
  height: 100vh; /* Each item takes full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-family: var(--font-heading);
  background-image: linear-gradient(90deg, lightteal, white);
  scroll-snap-align: start; /* Align items at the start of the scroll container */
  border-right: 1px solid var(--color-text);
}

.scroll-container {
  scroll-behavior: smooth;
}
